/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background:fixed url('Colorful logo.png') no-repeat bottom/cover;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 0 5%;
}

nav a:hover {
    text-decoration: underline;
}
@media (min-width: 768px){
    header, nav a{
        color: #333;
        font-weight: bolder;
    }
}
/* Main Content Styles */
main {
    margin-top: 2rem;
    padding: 1rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 1rem;
    color: #555;
}
/*Product page styles*/
.product-grid {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}
@media (min-width: 768px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }
}

.product-card {
    background: #fff;
    padding-bottom: 10px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.product-card img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.product-caroussel{
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: 1rem;
}
/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

fieldset {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
    color: #555;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin: auto;
    background: #333;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    align-self: flex-start; /* Aligns the button to the left */
}

button:hover {
    background: #555;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 1rem 0;
    background: orange;
    color: #fff;
    margin-top: 2rem;
}